/*
 * windivert.rc
 * (C) 2017, all rights reserved,
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Lesser General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Lesser General Public License for more details.
 *
 * You should have received a copy of the GNU Lesser General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */

#include <windows.h>
#include <ntverp.h>

#define VER_FILETYPE                VFT_DRV
#define VER_FILESUBTYPE             VFT2_DRV_NETWORK
#define VER_FILEDESCRIPTION_STR     \
    "The WinDivert driver " \
    "[URL: https://reqrypt.org/windivert.html] " \
    "[Bitcoin: 1C5vZVSbizPeZ8ydTYhUfm4LA2cNwBfcYh]"
#define VER_INTERNALNAME_STR        "WinDivert.sys"
#define VER_ORIGINALFILENAME_STR    "WinDivert.sys"
#define VER_PRODUCTVERSION          1.4
#define VER_PRODUCTVERSION_STR      "1.4"
#define VER_COMPANYNAME_STR         "Basil's Projects"
#define VER_LEGALCOPYRIGHT_YEARS    "2011-2017"
#define VER_LEGALCOPYRIGHT_STR      \
    "Copyright \251 " VER_COMPANYNAME_STR " " VER_LEGALCOPYRIGHT_YEARS 
#define VER_FILEVERSION             VER_PRODUCTVERSION
#define VER_FILEVERSION_STR         VER_PRODUCTVERSION_STR
#define VER_PRODUCTNAME_STR         "WinDivert 1.4 driver"

#include "common.ver"

